    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">

                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">

                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address"> 52 Austin Street</li>
                            <li class="phone"><a href="tel://23923929210">+29444 210</a></li>
                            <li class="email"> shopwithus@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>